// Main Sass File

.display-5 {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.1; }
.fslim {
    font-weight: 100;
}   
body {
    background:url('../img/harbour-panoramic-middle.jpg') no-repeat;
    background-color: rgb(202, 226, 230);
    min-height:700px;
    max-height: 100vh;
    background-size:cover;
    background-attachment:fixed;
    opacity: 0.6;
    color: #000000;
    z-index: 100;
} 
.contact-section {
    height: 1200px;
}

#main-header {
    position: relative;
    animation-name: mainheader;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes mainheader {
    0% {top:-170px;}
    100% {top:0;}
}

#subt-mheader {
    position: relative;
    animation-name: subtmheader;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes subtmheader {
    0% {left:-1970px;}
    100% {left:0;}
}

#text-header {
    position: relative;
    animation-name: textheader;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes textheader {
    0% {left:-1970px;}
    100% {left:0;}
}

#first-col {
    position: relative;
    animation-name: firstcol;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
    
    
}
@keyframes firstcol {
    0% {bottom:-350px;}
    100% {bottom:0;}  
}

.btn-outline-info {
    color: #2a53db;
    background-color: transparent;
    background-image: none;
    border-color: #2a53db; }


/*#second-col {
    position: relative;
    animation-name: secondcol;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
@keyframes secondcol {
    0% {bottom:-670px;}
    100% {bottom:0;}
}

#thierd-col {
    position: relative;
    animation-name: thierdcol;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
@keyframes thierdcol {
    0% {bottom:-970px;}
    100% {bottom:0;}
}*/